/* Customize the label (the container) */
label {
    display: block;
    position: relative;
    padding-left: 45px;  /* Increase padding */
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

/* Hide the browser's default checkbox */
label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;  /* Increase size */
    width: 35px;   /* Increase size */
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
label:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a green background */
label input:checked ~ .checkmark {
    background-color: #2cf963;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
label .checkmark:after {
    left: 12px;  /* Adjust position */
    top: 6px;    /* Adjust position */
    width: 8px;  /* Increase size */
    height: 16px;  /* Increase size */
    border: solid rgb(255, 255, 255);
    border-width: 0 4px 4px 0;  /* Increase width */
    transform: rotate(45deg);
}
