{% extends 'reset_password_edit.html' %}


{%  block content %}

<h3> Password reset</h3>

<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

<form class="form" method="POST">
    {% csrf_token %}
  
    {{form}}
   
    <br><input class="btn" type="submit" style="background-color: #8a298d; color: white; font-family: 'Roboto', sans-serif; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;"/>

</form>


{% endblock content %}